In [1]:
import pandas as pd

from hotcities.config import read_config, default_config
from hotcities.readers import load
from hotcities.filters import cities_filter, countries_filter, alternatenames_filter
from hotcities.mergers import merge

In [2]:
testing = False

In [3]:
config = read_config('../test/res/config.test.ini') if testing else default_config

In [4]:
min_population = 500000

In [5]:
cities = load('cities', filter=cities_filter(min_population=min_population), config=config)
cities.head()

,geonameid,name,countrycode,population,lat,lng,timezone
6,292223,Dubai,AE,2956587,25.06570,55.17128,Asia/Dubai
9,292672,Sharjah,AE,1324473,25.33737,55.41206,Asia/Dubai
15,292968,Abu Dhabi,AE,603492,24.46667,54.36667,Asia/Dubai
21,12047418,Abu Dhabi Island and Internal Islands City,AE,552215,24.45110,54.39690,Asia/Dubai
48,1138958,Kabul,AF,3043532,34.52813,69.17233,Asia/Kabul

In [6]:
countries = load('countries', filter=countries_filter(), config=config)
countries.head()

  countrycode           countryname lang
0          AD               Andorra   ca
1          AE  United Arab Emirates   ar
2          AF           Afghanistan   fa
3          AG   Antigua and Barbuda   en
4          AI              Anguilla   en

In [ ]:
alternatenames = load('alternatenames', filter=alternatenames_filter(), config=config, low_memory=False)
alternatenames.head()

In [ ]:
data = merge(cities, countries, alternatenames).sort_values(by='population', ascending=False).reset_index(drop=True)
data.head()